 .notification {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: #1D222E; 
    z-index: 5;
}

.notif-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
}

.notif-content > h1  {
    font-size: 1.2rem;
}

.notif-content > p {
    font-size: .6rem;
}
