.subscribing-win {
    position: absolute;
    width: 60%;
    height: 65%;
    left: 25%;
    top: 20%;
    border-radius: 10px;
    background-color: #1a1919;
    display: flex;
    flex-flow: column nowrap;
    z-index: 3;
}    

.subs-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subs-header > * {
    margin: 0 20px 0;
}

.subscribing-offer {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;   
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #333030;
    padding: 10px;
    border-radius: 10px;
}   

.button {
    background-color: red;
    padding: 5px 20px 5px;
    border-radius: 10px;
}