@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    transition: 3s;
    animation: changeBrightness 3s infinite;
}


.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}

.delete,
.shift,
.space {
    font-size: 1rem;
    text-transform: capitalize;
}
.delete { width: 100px; }
.shift { width: 70px; }
.space { width: 350px; }

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: .5rem;
}
textarea:disabled {
    background-color: #ffffff;
    color: black;
    border: 2px blue solid;
    padding: 6px;
}

#bomb {
    position: fixed;
    width: 100%;
    height: 280%;
    background: none;
    z-index: -1;
}
.upper { text-transform: uppercase; }

@keyframes changeBrightness {
    0% {filter: brightness(0)}
    50% {filter: brightness(2)}
    0% {filter: brightness(0)}
}



/**************************************************/

.worstButton{
    display: flex;
    justify-content: center;
}

.buttonGroup{
    margin-top: 150px;
}

.buttonGroup button{
    position: absolute;
    display: flex;
    cursor: pointer;

    background-color: rgb(7, 14, 7);
    border: none;
    padding: .5rem 10rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}
.button--no{
    right: 50%;
}
